In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load the three datasets
customers_df = pd.read_csv('C:/Users/marti/OneDrive/Documents/MLPA/ms1/customers_data.csv')
products_df = pd.read_csv('C:/Users/marti/OneDrive/Documents/MLPA/ms1/products_data.csv')
transactions_df = pd.read_csv('C:/Users/marti/OneDrive/Documents/MLPA/ms1/transactions_data.csv')

In [20]:
print("=" * 80)
print("CUSTOMERS DATASET - STRUCTURE & INFO")
print("=" * 80)

print("\n Column Names:")
print(customers_df.columns.tolist())

print("\n Dataset Info:")
customers_df.info()

print("\n First 5 Rows:")
display(customers_df.head())

print("\n Basic Statistics:")
display(customers_df.describe())

================================================================================
CUSTOMERS DATASET - STRUCTURE & INFO
================================================================================

 Column Names:
['Company_ID', 'Company_Name', 'Company_Profit', 'Address']

 Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company_ID      90 non-null     float64
 1   Company_Name    100 non-null    object
 2   Company_Profit  88 non-null     float64
 3   Address         100 non-null    object
dtypes: float64(2), object(2)
memory usage: 3.3+ KB

 First 5 Rows:

,Company_ID,Company_Name,Company_Profit,Address
0,1.0,Tech Enterprises 1,80701.0,"EDSA, Barangay 606, Pasig, Philippines"
1,2.0,Global Partners 2,80511.0,"Commonwealth Ave, Barangay 789, Taguig, Philip..."
2,3.0,Quantum Associates 3,110664.0,"Roxas Blvd, Barangay 505, Pasig, Philippines"
3,4.0,Prime Network 4,NaN,"Alabang-Zapote Rd, Barangay 202, Taguig, Phili..."
4,5.0,Elite Ventures 5,69427.0,"Ayala Avenue, Barangay 101, Makati, Philippines"

 Basic Statistics:

       Company_ID  Company_Profit
count   90.000000       88.000000
mean    51.944444    76400.500000
std     28.684397    27296.169253
min      1.000000    30663.000000
25%     27.500000    52648.500000
50%     53.500000    75301.500000
75%     76.750000   101089.750000
max    100.000000   118114.000000

In [21]:
# MISSING VALUES ANALYSIS FOR CUSTOMERS DATASET
print("=" * 80)
print(f"MISSING VALUES ANALYSIS: CUSTOMERS DATASET")
print("=" * 80)

# Check for missing values
print("\nMissing Values:")
print(customers_df.isnull().sum())

# Calculate the percentage of missing values for each column
missing_percent = (customers_df.isnull().sum() / len(customers_df)) * 100
print("\nMissing %:")
print(missing_percent)

# Check for duplicate rows
duplicates = customers_df.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicates}")

================================================================================
MISSING VALUES ANALYSIS: CUSTOMERS DATASET
================================================================================

Missing Values:
Company_ID        10
Company_Name       0
Company_Profit    12
Address            0
dtype: int64

Missing %:
Company_ID        10.0
Company_Name       0.0
Company_Profit    12.0
Address            0.0
dtype: float64

Number of duplicate rows: 0

In [22]:
print("=" * 80)
print("PRODUCTS DATASET - STRUCTURE & INFO")
print("=" * 80)

print("\n Column Names:")
print(products_df.columns.tolist())

print("\n Dataset Info:")
products_df.info()

print("\n First 5 Rows:")
display(products_df.head())

print("\n Basic Statistics:")
display(products_df.describe())

================================================================================
PRODUCTS DATASET - STRUCTURE & INFO
================================================================================

 Column Names:
['Product_ID', 'Product_Name', 'Product_Price']

 Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product_ID     18 non-null     float64
 1   Product_Name   20 non-null     object
 2   Product_Price  20 non-null     object
dtypes: float64(1), object(2)
memory usage: 612.0+ bytes

 First 5 Rows:

   Product_ID            Product_Name Product_Price
0         1.0      FinPredictor Suite      ?140,000
1         2.0  MarketMinder Analytics      ?168,000
2         3.0    TrendWise Forecaster      ?100,800
3         4.0  CustomerScope Insights      ?123,200
4         5.0     SalesSync Optimizer       ?84,000

 Basic Statistics:

       Product_ID
count   18.000000
mean    10.333333
std      6.077925
min      1.000000
25%      5.250000
50%     10.500000
75%     14.750000
max     20.000000

In [23]:
# MISSING VALUES ANALYSIS FOR PRODUCTS DATASET
print("=" * 80)
print(f"MISSING VALUES ANALYSIS: PRODUCTS DATASET")
print("=" * 80)

# Check for missing values
print("\nMissing Values:")
print(products_df.isnull().sum())

# Calculate the percentage of missing values for each column
missing_percent = (products_df.isnull().sum() / len(products_df)) * 100
print("\nMissing %:")
print(missing_percent)

# Check for duplicate rows
duplicates = products_df.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicates}")

================================================================================
MISSING VALUES ANALYSIS: PRODUCTS DATASET
================================================================================

Missing Values:
Product_ID       2
Product_Name     0
Product_Price    0
dtype: int64

Missing %:
Product_ID       10.0
Product_Name      0.0
Product_Price     0.0
dtype: float64

Number of duplicate rows: 0

In [26]:
print("=" * 80)
print("TRANSACTIONS DATASET - STRUCTURE & INFO")
print("=" * 80)

print("\n Column Names:")
print(transactions_df.columns.tolist())

print("\n Dataset Info:")
transactions_df.info()

print("\n First 10 Rows:")
display(transactions_df.head(10))

print("\n Basic Statistics:")
display(transactions_df.describe())

================================================================================
TRANSACTIONS DATASET - STRUCTURE & INFO
================================================================================

 Column Names:
['Unnamed: 0', 'Transaction_ID', 'Company_ID', 'Product_ID', 'Quantity', 'Transaction_Date', 'Product_Price', 'Total_Cost']

 Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        9000 non-null   float64
 1   Transaction_ID    9000 non-null   float64
 2   Company_ID        9000 non-null   float64
 3   Product_ID        9000 non-null   float64
 4   Quantity          9000 non-null   float64
 5   Transaction_Date  10000 non-null  object
 6   Product_Price     9000 non-null   float64
 7   Total_Cost        9000 non-null   float64
dtypes: float64(7), object(1)
memory usage: 625.1+ KB

 First 10 Rows:

,Unnamed: 0,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost
0,0.0,1.0,88.0,6.0,NaN,2024/03/26,194379.147964,1075200.0
1,1.0,2.0,29.0,19.0,16.0,"July 09, 2024",97930.993380,1428000.0
2,2.0,NaN,28.0,18.0,6.0,04/13/2024,126095.547778,940800.0
3,3.0,4.0,85.0,12.0,12.0,09-06-2023,NaN,1008000.0
4,4.0,5.0,47.0,3.0,8.0,07/06/2021,99575.609634,705600.0
5,5.0,6.0,80.0,11.0,4.0,2021/07/12,160658.675350,627200.0
6,NaN,7.0,NaN,NaN,14.0,2023/11/01,133548.749710,1960000.0
7,7.0,8.0,21.0,20.0,7.0,"October 31, 2023",229217.941468,1792000.0
8,8.0,9.0,96.0,1.0,14.0,25-02-2024,144758.783254,NaN
9,9.0,10.0,3.0,20.0,6.0,29-03-2021,238293.851303,1120000.0

 Basic Statistics:

,Unnamed: 0,Transaction_ID,Company_ID,Product_ID,Quantity,Product_Price,Total_Cost
count,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9000.000000,9.000000e+03
mean,4994.049111,5005.177556,50.583556,10.446778,10.528778,134652.802537,1.424246e+06
std,2885.331476,2894.971964,28.900870,5.768341,5.808062,39058.106978,9.086274e+05
min,0.000000,1.000000,1.000000,1.000000,0.000000,75613.362923,8.400000e+04
25%,2501.750000,2491.750000,25.000000,5.000000,6.000000,100686.369472,6.720000e+05
50%,4997.500000,5005.000000,50.000000,10.000000,11.000000,131297.783516,1.344000e+06
75%,7477.250000,7527.250000,76.000000,15.000000,16.000000,162221.485713,1.965600e+06
max,9999.000000,9999.000000,100.000000,20.000000,21.000000,246279.050335,4.480000e+06

In [25]:
# MISSING VALUES ANALYSIS FOR TRANSACTIONS DATASET
print("=" * 80)
print(f"MISSING VALUES ANALYSIS: TRANSACTIONS DATASET")
print("=" * 80)

# Check for missing values
print("\nMissing Values:")
print(transactions_df.isnull().sum())

# Calculate the percentage of missing values for each column
missing_percent = (transactions_df.isnull().sum() / len(transactions_df)) * 100
print("\nMissing %:")
print(missing_percent)

# Check for duplicate rows
duplicates = transactions_df.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicates}")

================================================================================
MISSING VALUES ANALYSIS: TRANSACTIONS DATASET
================================================================================

Missing Values:
Unnamed: 0          1000
Transaction_ID      1000
Company_ID          1000
Product_ID          1000
Quantity            1000
Transaction_Date       0
Product_Price       1000
Total_Cost          1000
dtype: int64

Missing %:
Unnamed: 0          10.0
Transaction_ID      10.0
Company_ID          10.0
Product_ID          10.0
Quantity            10.0
Transaction_Date     0.0
Product_Price       10.0
Total_Cost          10.0
dtype: float64

Number of duplicate rows: 0

In [27]:
# HANDLING MISSING VALUES IN CUSTOMERS DATASET
print("=" * 80)
print("HANDLING MISSING VALUES IN CUSTOMERS DATASET")
print("=" * 80)

# Make a copy to preserve original
customers_cleaned = customers_df.copy()

print("Before handling:")
print(f"Total rows: {len(customers_cleaned)}")
print(f"Missing Company_ID: {customers_cleaned['Company_ID'].isnull().sum()}")
print(f"Missing Company_Profit: {customers_cleaned['Company_Profit'].isnull().sum()}")

# Drop rows with missing Company_ID (primary key)
customers_cleaned = customers_cleaned.dropna(subset=['Company_ID'])

# Fill missing Company_Profit with median
median_profit = customers_cleaned['Company_Profit'].median()
customers_cleaned['Company_Profit'].fillna(median_profit, inplace=True)

print("\nAfter handling:")
print(f"Total rows: {len(customers_cleaned)}")
print(f"Missing Company_ID: {customers_cleaned['Company_ID'].isnull().sum()}")
print(f"Missing Company_Profit: {customers_cleaned['Company_Profit'].isnull().sum()}")
print(f"\nMedian profit used for imputation: {median_profit:.2f}")

================================================================================
HANDLING MISSING VALUES IN CUSTOMERS DATASET
================================================================================
Before handling:
Total rows: 100
Missing Company_ID: 10
Missing Company_Profit: 12

After handling:
Total rows: 90
Missing Company_ID: 0
Missing Company_Profit: 0

Median profit used for imputation: 74653.00

C:\Users\marti\AppData\Local\Temp\ipykernel_22608\3177145947.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  customers_cleaned['Company_Profit'].fillna(median_profit, inplace=True)

In [28]:
# HANDLING MISSING VALUES IN PRODUCTS DATASET
print("=" * 80)
print("HANDLING MISSING VALUES IN PRODUCTS DATASET")
print("=" * 80)

# Make a copy to preserve original
products_cleaned = products_df.copy()

print("Before handling:")
print(f"Total rows: {len(products_cleaned)}")
print(f"Missing Product_ID: {products_cleaned['Product_ID'].isnull().sum()}")

# Drop rows with missing Product_ID (primary key)
products_cleaned = products_cleaned.dropna(subset=['Product_ID'])

print("\nAfter handling:")
print(f"Total rows: {len(products_cleaned)}")
print(f"Missing Product_ID: {products_cleaned['Product_ID'].isnull().sum()}")

================================================================================
HANDLING MISSING VALUES IN PRODUCTS DATASET
================================================================================
Before handling:
Total rows: 20
Missing Product_ID: 2

After handling:
Total rows: 18
Missing Product_ID: 0

In [29]:
# HANDLING MISSING VALUES IN TRANSACTIONS DATASET
print("=" * 80)
print("HANDLING MISSING VALUES IN TRANSACTIONS DATASET")
print("=" * 80)

# Make a copy to preserve original
transactions_cleaned = transactions_df.copy()

print("Before handling:")
print(f"Total rows: {len(transactions_cleaned)}")
print("\nMissing values:")
print(transactions_cleaned.isnull().sum())

# Drop the 'Unnamed: 0' column (it's just an index)
transactions_cleaned = transactions_cleaned.drop('Unnamed: 0', axis=1)

# Drop rows with missing critical IDs (Transaction_ID, Company_ID, Product_ID)
transactions_cleaned = transactions_cleaned.dropna(subset=['Transaction_ID', 'Company_ID', 'Product_ID'])

# Fill missing Quantity with median
median_quantity = transactions_cleaned['Quantity'].median()
transactions_cleaned['Quantity'].fillna(median_quantity, inplace=True)

# Fill missing Product_Price with median
median_price = transactions_cleaned['Product_Price'].median()
transactions_cleaned['Product_Price'].fillna(median_price, inplace=True)

# Fill missing Total_Cost with median
median_total = transactions_cleaned['Total_Cost'].median()
transactions_cleaned['Total_Cost'].fillna(median_total, inplace=True)

print("\nAfter handling:")
print(f"Total rows: {len(transactions_cleaned)}")
print("\nMissing values:")
print(transactions_cleaned.isnull().sum())
print(f"\nMedian values used:")
print(f"  Quantity: {median_quantity:.2f}")
print(f"  Product_Price: {median_price:.2f}")
print(f"  Total_Cost: {median_total:.2f}")

================================================================================
HANDLING MISSING VALUES IN TRANSACTIONS DATASET
================================================================================
Before handling:
Total rows: 10000

Missing values:
Unnamed: 0          1000
Transaction_ID      1000
Company_ID          1000
Product_ID          1000
Quantity            1000
Transaction_Date       0
Product_Price       1000
Total_Cost          1000
dtype: int64

After handling:
Total rows: 7277

Missing values:
Transaction_ID      0
Company_ID          0
Product_ID          0
Quantity            0
Transaction_Date    0
Product_Price       0
Total_Cost          0
dtype: int64

Median values used:
  Quantity: 10.00
  Product_Price: 130556.44
  Total_Cost: 1344000.00

C:\Users\marti\AppData\Local\Temp\ipykernel_22608\768780272.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  transactions_cleaned['Quantity'].fillna(median_quantity, inplace=True)
C:\Users\marti\AppData\Local\Temp\ipykernel_22608\768780272.py:26: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  transactions_cleaned['Product_Price'].fillna(median_price, inplace=True)
C:\Users\marti\AppData\Local\Temp\ipykernel_22608\768780272.py:30: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  transactions_cleaned['Total_Cost'].fillna(median_total, inplace=True)

In [31]:
# Save the datasets after handling missing values
customers_cleaned.to_csv('customers_data_missing_handled.csv', index=False)
products_cleaned.to_csv('products_data_missing_handled.csv', index=False)
transactions_cleaned.to_csv('transactions_data_missing_handled.csv', index=False)

print("✓ Datasets saved after handling missing values!")
print("\nFiles saved:")
print("  - customers_data_missing_handled.csv")
print("  - products_data_missing_handled.csv")
print("  - transactions_data_missing_handled.csv")

✓ Datasets saved after handling missing values!

Files saved:
  - customers_data_missing_handled.csv
  - products_data_missing_handled.csv
  - transactions_data_missing_handled.csv